/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --black-content: #383838;
  --blue-activated: #d3e3fd;
  --grey-content: #444746;
  --grey-hover: #e9eef6;
  --grey-name: #6c6a6a;
  --grey: #f0f4f9;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --chat-width: 700px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  overflow: hidden;
}

/* 滚动条整体样式 */
::-webkit-scrollbar {
  width: 6px; /* 宽度 */
  /* height: 6px; 高度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; 轨道背景色 */
  border-radius: 10px; /* 轨道圆角 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #888; /* 滑块背景色 */
  border-radius: 10px; /* 滑块圆角 */
}

/* 滑块在悬停时的颜色 */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* 悬停时滑块背景色 */
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-justifyBetween {
  justify-content: space-between;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}
