.Chat-historyContainer {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.Chat-warpper {
  height: 100%;
  width: auto;
}

.Chat-input {
  height: 100px;
  flex: 0 0 var(--chat-width);
}
